---
import StatsGrid from '../../ui/blocks/StatsGrid.astro';

const { title, vision, mission, testimonials, statistics } = Astro.props;

interface Props {
  title?: string;
  vision?: string;
  mission?: string;
  testimonials?: Testimonial[];
  statistics?: StatProps[];
}

type Testimonial = {
  content: string;
  author: string;
  role: string;
  avatarSrc: string;
};

type StatProps = {
  count: string;
  description: string;
};
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <div
    class="lg:grid lg:grid-cols-12 lg:items-center lg:justify-between lg:gap-16"
  >
    <div class="lg:col-span-5 lg:col-start-1">
      <div class="space-y-8">
        {
          vision && (
            <div>
              <h2 class="mb-3 text-3xl font-bold text-neutral-800 lg:text-4xl dark:text-neutral-200">
                Notre vision
              </h2>
              <p class="text-neutral-600 dark:text-neutral-400">{vision}</p>
            </div>
          )
        }
        {
          mission && (
            <div>
              <h2 class="mb-3 text-3xl font-bold text-neutral-800 lg:text-4xl dark:text-neutral-200">
                Mission
              </h2>
              <p class="text-neutral-600 dark:text-neutral-400">{mission}</p>
            </div>
          )
        }
      </div>
    </div>
    {
      statistics && (
        <div class="mt-10 lg:col-span-6 lg:col-end-13 lg:mt-0">
          <div class="space-y-6 sm:space-y-8">
            <ul class="grid grid-cols-2 divide-x-2 divide-y-2 divide-neutral-300 overflow-hidden dark:divide-neutral-700">
              {statistics.map((stat, index) => (
                <StatsGrid
                  count={stat.count}
                  description={stat.description}
                  index={index}
                />
              ))}
            </ul>
          </div>
        </div>
      )
    }
  </div>
</section>
